//Playfair Display
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
//PT Sans
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

a,button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-family: "PT Sans", sans-serif;
}

.text-color-gray {
  color: #969696;
}

body {
  font-family: 'PT Sans', sans-serif;
}

.hover-white {
  transition: .2s linear;
  svg path {transition: .2s linear;}
  &:hover {
    color: #ffffff;
    svg {
      path {
        fill: #ffffff;
      }
    }
  }
}

h3 {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
}

h2 {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
}

p {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}

body {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section {
  display: flex;
  justify-content: center;
}

main {
  position: relative;
}

.container {
  width: 1132px;
  @media (max-width: 1200px) {
    width: 700px;
  }
  @media (max-width: 767px) {
    width: 90vw;
  }
}

.navigation-panel-fixed-top {
  @media (max-width: 768px) {
    display: none;
  }
  .container {
    padding: 14px 0;
    display: flex;
    align-items: center;
    * {
      display: inline;
    }
    &>div:last-child {
      display: flex;
      align-items: center;
      margin-left: auto;
    }
  }
}

.mrl-10{
  margin-right: 10px;
  margin-left: 10px;
}

.mrl-5{
  margin-right: 5px;
  margin-left: 5px;
}

.navigation-panel {
  @media (max-width: 768px) {
    &>div:nth-child(1) {
      display: none;
    }
    &>div:nth-child(2) {
      .button-menu {
        svg {
          path {
            fill: #ffffff;
          }
        }
      }
    }
    .navigation-mobile-content {
      width: 100%;
      height: calc(100vh - 80px);
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
      backdrop-filter: blur(5px);
      top: 80px;
      display: none;
      .content {
        margin-top: 30px;
        width: 90vw;
        ul {
          margin-left: 5vw;

          li {
            a {
              color: #ffffff;
              font-size: 24px;
              margin-bottom: 40px;
            }
          }
        }
        div {
          box-sizing: border-box;
          a {
            margin-bottom: 20px;
            color: #ffffff;
            font-size: 24px;
            font-weight: 600;
          }
          width: 100%;
          position: absolute;
          bottom: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
      //opacity: 0;
      //transition: all .5s linear;
    }
    .open-navigation {
      //opacity: 1;
      //display: flex !important;
    }
  }
  @media (min-width: 768px) {
    &>div:nth-child(2) {
      display: none;
    }
    .navigation-mobile-content {
      display: none;
    }
  }
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 15px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
  position: sticky;
  top: 0px;
  z-index: 100;
  background-color: #0F0F0F;
  .container {
    top: 0;
    position: sticky;
    height: 80px;
    display: flex;
    align-items: center;
    &>*:nth-child(2) {
      margin-left: auto;
    }
    &>*:nth-last-child(2) {
      @media (min-width: 768px) {
        margin-left: 64px;
      }
    }
    &>*:nth-last-child(1) {
      @media (min-width: 768px) {
        margin-left: 44px;
      }
    }
  }
  &__button {
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #969696;
    height: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    transition: .2s linear;
    &:hover {
      background-color: #1F1F1F;
      color: #ffffff;
    }
    &-icon {
      svg {
        path {
          fill: #969696;
          transition: .2s linear;
        }
      }
      &:hover {
        svg path {
          fill: #ffffff;
        }
      }
    }
  }
  &:nth-child(1) {
    margin-left: auto;
  }
}

.header {
  position: relative;
  height: 810px;
  background-image: url("../assests/img/headerBgc.png");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center 0;
  //filter: blur(1.5px);
  .container {
    position: relative;
    z-index: 1;
    margin-top: 160px;
    display: flex;
    align-items: center;
    flex-direction: column;
    p {
      text-transform: uppercase;
      margin-top: 80px;
      width: 730px;
      text-align: center;
    }
  }
  &__block {

    background-color: rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border: 4px solid #FFFFFF;;
    padding: 95px 70px;
    svg {
      width: 185px;
      height: 86px;
      padding-bottom: 1px;
      border-bottom: 2px solid #FFFFFF;
    }
    h3 {
      margin-top: 4px;
    }
  }
  .filter {
    box-sizing: border-box;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    filter: blur(20px);
  }
}

.blocks-info {
  flex-wrap: wrap;
  width: 100%;
  .block1, .block4 {
    width: 54%;
    @media (max-width: 1600px) {
      width: 70%;
    }
  }
  .block2, .block3 {
    width: 46%;
    @media (max-width: 1600px) {
      width: 30%;
    }
  }
  .block1, .block2 {
    height: 730px;
  }
  .block3, .block4 {
    height: 600px;
  }

  .block1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    hr {
      margin-top: 50px;
      width: 120px;
      height: 1px;
      background-color: #fff;
    }
    .block-with-card {
      margin-top: 50px;
      &>*:nth-child(3) {
        margin: 0 !important;
      }
      @media (max-width: 1200px) {
        &>* {
          margin: 0;
        }
        width: 700px;
        .card {
          width: 30% !important;
        }
      }
      @media (max-width: 767px) {
        width: 90%;
        flex-direction: column;
        .card {
          width: 100% !important;
          margin-bottom: 15px;
          img {
            width: 200px;
            height: 180px;
          }
        }
      }
    }
    @media (max-width: 1300px) {
      width: 100% !important;
    }
    @media (max-width: 767px) {
      height: max-content;
      padding: 40px 0;
    }
  }

  .block2 {
    background-image: url("../assests/img/block2.png");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 0 0;
    @media (max-width: 1300px) {
      display: none;
    }
  }

  .block3 {
    background-image: url("../assests/img/block3.png");
    -webkit-background-size: cover;
    background-size: cover;
    background-position-x: 0px;
    background-color: #fff;
    @media (max-width: 1300px) {
      width: 50%;
    }
    @media (max-width: 1000px) {
      width: 100%;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }

  .block4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    hr {
      margin-top: 40px;
      width: 120px;
      height: 1px;
      background-color: #fff;
    }
    p {
      text-align: center;
      margin-top: 30px;
      font-size: 14px;
      line-height: 150%;
      width: 471px;
      @media (max-width: 1000px) {
        width: 90%;
      }
    }
    .button-white {
      margin-top: 60px;
    }
    @media (max-width: 1300px) {
      width: 50%;
    }
    @media (max-width: 1000px) {
      margin-top: 50px;
      width: 100%;
      order: 0;
      height: max-content;
    }
    @media (max-width: 768px) {
      margin-top: 0;
    }
  }
}

.block-with-card {
  display: flex;
  justify-content: space-between;
  @media (min-width: 1200px) {
    &>*:not(:nth-child(4n+4)) {
      margin-right: 24px;
    }
    &>*:not(:nth-child(-n+4)) {
      margin-top: 50px;
    }
  }
  @media (max-width: 1200px) {
    &>*{
      margin-bottom: 50px;
    }
  }

  flex-wrap: wrap;
  box-sizing: border-box;
}

.card {
  @media (max-width: 1200px) {
    width: 48%;
  }
  &__block {
    position: relative;
    width: 260px;
    @media (max-width: 1200px) {
      width: 100%;
    }

    &-img {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 325px;
      @media (max-width: 767px) {
        height: 200px;
      }
      background-color: #191B1C;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 215px;
        height: 214px;
        @media (max-width: 767px) {
          width: 90%;
          height: 150px;
          min-height: 150px;
        }
      }
    }
    &:hover {
      .card__bg {
        height: 100%;
      }
    }

    padding-bottom: 25px;
    p {
      padding-left: 10px;
    }
  }
  &__name-firm {
    position: relative;
    z-index: 1;
    margin-top: 25px;
    font-size: 18px;
    line-height: 24px;
  }
  &__price {
    position: relative;
    z-index: 1;
    margin-top: 10px;
    font-size: 16px;
    line-height: 21px;

    color: #D0D0D0;
  }
  &__bg {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 325px;
    background-color: #191B1C ;
    transition: height .2s linear;
    @media (max-width: 767px) {
      height: 200px;
    }
  }
}

.button-white {
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  padding: 12px 28px;
  border: 1px solid #FFFFFF;
  transition: .2s linear;
  &:hover {
    background-color: #fff;
    color: #121212;
  }
}

.new {
  .container {
    h2 {
      margin-top: 120px;
      @media (max-width: 768px) {
        margin-top: 50px;
      }
    }
    hr {
      margin-top: 40px;
      width: 120px;
      height: 1px;
      background-color: #fff;
    }
    .block-with-card {
      margin-top: 120px;
      padding-bottom: 150px;
      @media (max-width: 1200px) {
        margin-top: 50px;
        padding-bottom: 50px;
      }
    }
  }
}

.brands {
  background-color: #0F0F0F;
  padding-top: 60px;
  padding-bottom: 80px;
  hr {
    margin-top: 40px;
    width: 120px;
    height: 1px;
    background-color: #fff;
    margin-bottom: 40px;
  }
  &__container {
    justify-content: space-between;
    display: flex;
    @media (max-width: 1200px) {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    img {
      width: 255px;
      height: 94px;
    }
    a {
      transition: .2s linear;
      &:hover {
        background-color: #000;
        border-radius: 5px;
      }
    }
  }
}

.footer {
  background-image: url("../assests/img/footer.png");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center 0;
  height: 400px;
  .container {
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
  }

  .block1, .block2, .block3 {
    width: 350px;
    @media (max-width: 1200px) {
      width: 200px !important;
    }
    p {
      font-size: 14px;
      line-height: 150%;
    }
  }

  .block1 {
    width: 350px;
    @media (max-width: 1200px) {
      width: 200px !important;
      p {
        font-size: 10px;
      }
    }
  }
  .block2 {
    .block-links {
      display: flex;
      flex-wrap: wrap;
      a {
        background-color: #0F0F0F;
        font-size: 14px;
        line-height: 150%;
        color: #D0D0D0;
        align-self: center;
        padding: 10px 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        transition: .2s linear;
        font-weight: bold;
        letter-spacing: .6px;
        text-transform: uppercase;
        @media (max-width: 1200px) {
          padding: 8px;
          font-size: 12px;
          margin-right: 5px;
          margin-bottom: 5px;
        }
        &:hover {
          background-color: #fff;
          color: #0F0F0F;
        }
      }
    }
  }
  .block3 {
    p {
      margin-bottom: 40px;
    }
    div {
      display: flex;
      width: 100%;
      box-sizing: border-box;
      height: 42px;
      input {
        width: 60%;
        height: 100%;
        box-sizing: border-box;
        background: rgba(255, 255, 255, 0.4);
        color: #ffffff;
        padding: 0 20px;
        border: none;
        outline:none;
        letter-spacing: 1px;
        &::placeholder {
          color:#D0D0D0 ;
        }
        @media (max-width: 1200px) {
          font-size: 12px;
        }
      }
      button {

        width: 40%;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        align-self: center;
        background-color: #0F0F0F;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        box-sizing: border-box;
        transition: .2s linear;
        @media (max-width: 1200px) {
          font-size: 10px;
        }
        &:hover {
          background-color: #fff;
          color: #0F0F0F;
        }
      }
    }
  }
  @media (max-width: 768px) {
    height: max-content;
    .container {
      flex-direction: column;
      h4 {
        margin-bottom: 10px;
      }
      .block2, .block3 {
        margin-top: 30px;
      }
      .block3 {
        padding-bottom: 80px;
        p {
          margin-bottom: 10px;
        }
      }
    }
    &>.container>div {
      width: 90% !important;
    }
  }
}

h4 {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 40px;
}

