@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
a, button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-family: "PT Sans", sans-serif; }

.text-color-gray {
  color: #969696; }

body {
  font-family: 'PT Sans', sans-serif; }

.hover-white {
  transition: .2s linear; }
  .hover-white svg path {
    transition: .2s linear; }
  .hover-white:hover {
    color: #ffffff; }
    .hover-white:hover svg path {
      fill: #ffffff; }

h3 {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF; }

h2 {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF; }

p {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF; }

body {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

section {
  display: flex;
  justify-content: center; }

main {
  position: relative; }

.container {
  width: 1132px; }
  @media (max-width: 1200px) {
    .container {
      width: 700px; } }
  @media (max-width: 767px) {
    .container {
      width: 90vw; } }

@media (max-width: 768px) {
  .navigation-panel-fixed-top {
    display: none; } }
.navigation-panel-fixed-top .container {
  padding: 14px 0;
  display: flex;
  align-items: center; }
  .navigation-panel-fixed-top .container * {
    display: inline; }
  .navigation-panel-fixed-top .container > div:last-child {
    display: flex;
    align-items: center;
    margin-left: auto; }

.mrl-10 {
  margin-right: 10px;
  margin-left: 10px; }

.mrl-5 {
  margin-right: 5px;
  margin-left: 5px; }

.navigation-panel {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 15px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
  position: sticky;
  top: 0px;
  z-index: 100;
  background-color: #0F0F0F; }
  @media (max-width: 768px) {
    .navigation-panel > div:nth-child(1) {
      display: none; }
    .navigation-panel > div:nth-child(2) .button-menu svg path {
      fill: #ffffff; }
    .navigation-panel .navigation-mobile-content {
      width: 100%;
      height: calc(100vh - 80px);
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
      backdrop-filter: blur(5px);
      top: 80px;
      display: none; }
      .navigation-panel .navigation-mobile-content .content {
        margin-top: 30px;
        width: 90vw; }
        .navigation-panel .navigation-mobile-content .content ul {
          margin-left: 5vw; }
          .navigation-panel .navigation-mobile-content .content ul li a {
            color: #ffffff;
            font-size: 24px;
            margin-bottom: 40px; }
        .navigation-panel .navigation-mobile-content .content div {
          box-sizing: border-box;
          width: 100%;
          position: absolute;
          bottom: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center; }
          .navigation-panel .navigation-mobile-content .content div a {
            margin-bottom: 20px;
            color: #ffffff;
            font-size: 24px;
            font-weight: 600; } }
  @media (min-width: 768px) {
    .navigation-panel > div:nth-child(2) {
      display: none; }
    .navigation-panel .navigation-mobile-content {
      display: none; } }
  .navigation-panel .container {
    top: 0;
    position: sticky;
    height: 80px;
    display: flex;
    align-items: center; }
    .navigation-panel .container > *:nth-child(2) {
      margin-left: auto; }
    @media (min-width: 768px) {
      .navigation-panel .container > *:nth-last-child(2) {
        margin-left: 64px; } }
    @media (min-width: 768px) {
      .navigation-panel .container > *:nth-last-child(1) {
        margin-left: 44px; } }
  .navigation-panel__button {
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #969696;
    height: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    transition: .2s linear; }
    .navigation-panel__button:hover {
      background-color: #1F1F1F;
      color: #ffffff; }
    .navigation-panel__button-icon svg path {
      fill: #969696;
      transition: .2s linear; }
    .navigation-panel__button-icon:hover svg path {
      fill: #ffffff; }
  .navigation-panel:nth-child(1) {
    margin-left: auto; }

.header {
  position: relative;
  height: 810px;
  background-image: url("../assests/img/headerBgc.png");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center 0; }
  .header .container {
    position: relative;
    z-index: 1;
    margin-top: 160px;
    display: flex;
    align-items: center;
    flex-direction: column; }
    .header .container p {
      text-transform: uppercase;
      margin-top: 80px;
      width: 730px;
      text-align: center; }
  .header__block {
    background-color: rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border: 4px solid #FFFFFF;
    padding: 95px 70px; }
    .header__block svg {
      width: 185px;
      height: 86px;
      padding-bottom: 1px;
      border-bottom: 2px solid #FFFFFF; }
    .header__block h3 {
      margin-top: 4px; }
  .header .filter {
    box-sizing: border-box;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    filter: blur(20px); }

.blocks-info {
  flex-wrap: wrap;
  width: 100%; }
  .blocks-info .block1, .blocks-info .block4 {
    width: 54%; }
    @media (max-width: 1600px) {
      .blocks-info .block1, .blocks-info .block4 {
        width: 70%; } }
  .blocks-info .block2, .blocks-info .block3 {
    width: 46%; }
    @media (max-width: 1600px) {
      .blocks-info .block2, .blocks-info .block3 {
        width: 30%; } }
  .blocks-info .block1, .blocks-info .block2 {
    height: 730px; }
  .blocks-info .block3, .blocks-info .block4 {
    height: 600px; }
  .blocks-info .block1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .blocks-info .block1 hr {
      margin-top: 50px;
      width: 120px;
      height: 1px;
      background-color: #fff; }
    .blocks-info .block1 .block-with-card {
      margin-top: 50px; }
      .blocks-info .block1 .block-with-card > *:nth-child(3) {
        margin: 0 !important; }
      @media (max-width: 1200px) {
        .blocks-info .block1 .block-with-card {
          width: 700px; }
          .blocks-info .block1 .block-with-card > * {
            margin: 0; }
          .blocks-info .block1 .block-with-card .card {
            width: 30% !important; } }
      @media (max-width: 767px) {
        .blocks-info .block1 .block-with-card {
          width: 90%;
          flex-direction: column; }
          .blocks-info .block1 .block-with-card .card {
            width: 100% !important;
            margin-bottom: 15px; }
            .blocks-info .block1 .block-with-card .card img {
              width: 200px;
              height: 180px; } }
    @media (max-width: 1300px) {
      .blocks-info .block1 {
        width: 100% !important; } }
    @media (max-width: 767px) {
      .blocks-info .block1 {
        height: max-content;
        padding: 40px 0; } }
  .blocks-info .block2 {
    background-image: url("../assests/img/block2.png");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 0 0; }
    @media (max-width: 1300px) {
      .blocks-info .block2 {
        display: none; } }
  .blocks-info .block3 {
    background-image: url("../assests/img/block3.png");
    -webkit-background-size: cover;
    background-size: cover;
    background-position-x: 0px;
    background-color: #fff; }
    @media (max-width: 1300px) {
      .blocks-info .block3 {
        width: 50%; } }
    @media (max-width: 1000px) {
      .blocks-info .block3 {
        width: 100%; } }
    @media (max-width: 768px) {
      .blocks-info .block3 {
        display: none; } }
  .blocks-info .block4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .blocks-info .block4 hr {
      margin-top: 40px;
      width: 120px;
      height: 1px;
      background-color: #fff; }
    .blocks-info .block4 p {
      text-align: center;
      margin-top: 30px;
      font-size: 14px;
      line-height: 150%;
      width: 471px; }
      @media (max-width: 1000px) {
        .blocks-info .block4 p {
          width: 90%; } }
    .blocks-info .block4 .button-white {
      margin-top: 60px; }
    @media (max-width: 1300px) {
      .blocks-info .block4 {
        width: 50%; } }
    @media (max-width: 1000px) {
      .blocks-info .block4 {
        margin-top: 50px;
        width: 100%;
        order: 0;
        height: max-content; } }
    @media (max-width: 768px) {
      .blocks-info .block4 {
        margin-top: 0; } }

.block-with-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box; }
  @media (min-width: 1200px) {
    .block-with-card > *:not(:nth-child(4n+4)) {
      margin-right: 24px; }
    .block-with-card > *:not(:nth-child(-n+4)) {
      margin-top: 50px; } }
  @media (max-width: 1200px) {
    .block-with-card > * {
      margin-bottom: 50px; } }

@media (max-width: 1200px) {
  .card {
    width: 48%; } }
.card__block {
  position: relative;
  width: 260px;
  padding-bottom: 25px; }
  @media (max-width: 1200px) {
    .card__block {
      width: 100%; } }
  .card__block-img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 325px;
    background-color: #191B1C;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (max-width: 767px) {
      .card__block-img {
        height: 200px; } }
    .card__block-img img {
      width: 215px;
      height: 214px; }
      @media (max-width: 767px) {
        .card__block-img img {
          width: 90%;
          height: 150px;
          min-height: 150px; } }
  .card__block:hover .card__bg {
    height: 100%; }
  .card__block p {
    padding-left: 10px; }
.card__name-firm {
  position: relative;
  z-index: 1;
  margin-top: 25px;
  font-size: 18px;
  line-height: 24px; }
.card__price {
  position: relative;
  z-index: 1;
  margin-top: 10px;
  font-size: 16px;
  line-height: 21px;
  color: #D0D0D0; }
.card__bg {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 325px;
  background-color: #191B1C;
  transition: height .2s linear; }
  @media (max-width: 767px) {
    .card__bg {
      height: 200px; } }

.button-white {
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  padding: 12px 28px;
  border: 1px solid #FFFFFF;
  transition: .2s linear; }
  .button-white:hover {
    background-color: #fff;
    color: #121212; }

.new .container h2 {
  margin-top: 120px; }
  @media (max-width: 768px) {
    .new .container h2 {
      margin-top: 50px; } }
.new .container hr {
  margin-top: 40px;
  width: 120px;
  height: 1px;
  background-color: #fff; }
.new .container .block-with-card {
  margin-top: 120px;
  padding-bottom: 150px; }
  @media (max-width: 1200px) {
    .new .container .block-with-card {
      margin-top: 50px;
      padding-bottom: 50px; } }

.brands {
  background-color: #0F0F0F;
  padding-top: 60px;
  padding-bottom: 80px; }
  .brands hr {
    margin-top: 40px;
    width: 120px;
    height: 1px;
    background-color: #fff;
    margin-bottom: 40px; }
  .brands__container {
    justify-content: space-between;
    display: flex; }
    @media (max-width: 1200px) {
      .brands__container {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center; } }
    .brands__container img {
      width: 255px;
      height: 94px; }
    .brands__container a {
      transition: .2s linear; }
      .brands__container a:hover {
        background-color: #000;
        border-radius: 5px; }

.footer {
  background-image: url("../assests/img/footer.png");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center 0;
  height: 400px; }
  .footer .container {
    padding-top: 80px;
    display: flex;
    justify-content: space-between; }
  .footer .block1, .footer .block2, .footer .block3 {
    width: 350px; }
    @media (max-width: 1200px) {
      .footer .block1, .footer .block2, .footer .block3 {
        width: 200px !important; } }
    .footer .block1 p, .footer .block2 p, .footer .block3 p {
      font-size: 14px;
      line-height: 150%; }
  .footer .block1 {
    width: 350px; }
    @media (max-width: 1200px) {
      .footer .block1 {
        width: 200px !important; }
        .footer .block1 p {
          font-size: 10px; } }
  .footer .block2 .block-links {
    display: flex;
    flex-wrap: wrap; }
    .footer .block2 .block-links a {
      background-color: #0F0F0F;
      font-size: 14px;
      line-height: 150%;
      color: #D0D0D0;
      align-self: center;
      padding: 10px 20px;
      margin-right: 20px;
      margin-bottom: 20px;
      transition: .2s linear;
      font-weight: bold;
      letter-spacing: .6px;
      text-transform: uppercase; }
      @media (max-width: 1200px) {
        .footer .block2 .block-links a {
          padding: 8px;
          font-size: 12px;
          margin-right: 5px;
          margin-bottom: 5px; } }
      .footer .block2 .block-links a:hover {
        background-color: #fff;
        color: #0F0F0F; }
  .footer .block3 p {
    margin-bottom: 40px; }
  .footer .block3 div {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    height: 42px; }
    .footer .block3 div input {
      width: 60%;
      height: 100%;
      box-sizing: border-box;
      background: rgba(255, 255, 255, 0.4);
      color: #ffffff;
      padding: 0 20px;
      border: none;
      outline: none;
      letter-spacing: 1px; }
      .footer .block3 div input::placeholder {
        color: #D0D0D0; }
      @media (max-width: 1200px) {
        .footer .block3 div input {
          font-size: 12px; } }
    .footer .block3 div button {
      width: 40%;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0.05em;
      color: #FFFFFF;
      align-self: center;
      background-color: #0F0F0F;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      box-sizing: border-box;
      transition: .2s linear; }
      @media (max-width: 1200px) {
        .footer .block3 div button {
          font-size: 10px; } }
      .footer .block3 div button:hover {
        background-color: #fff;
        color: #0F0F0F; }
  @media (max-width: 768px) {
    .footer {
      height: max-content; }
      .footer .container {
        flex-direction: column; }
        .footer .container h4 {
          margin-bottom: 10px; }
        .footer .container .block2, .footer .container .block3 {
          margin-top: 30px; }
        .footer .container .block3 {
          padding-bottom: 80px; }
          .footer .container .block3 p {
            margin-bottom: 10px; }
      .footer > .container > div {
        width: 90% !important; } }

h4 {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 40px; }

/*# sourceMappingURL=style.css.map */
